:root {

    --color-footer: #E1EEBC;
    --color-font-main: #4d4143;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}

body,
html {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.grid_container {

    display: grid;
    gap: 2rem;
    margin: 1rem 0;
    grid-template-columns: 1fr 1fr;
    /* Una sola columna */
    grid-template-rows: auto;
    /* Altura automática */
    grid-template-areas:
        "header header"
        "main   main"
        "footer footer";

    /
}

.header {
    grid-area: header;
    background-color: white;
    border-radius: .7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    height: 20vh;
    top: 20px;
    z-index: 1000;
    margin: 0 10px;






}

.header_nav_mas_opciones {
    background-color: #E1EEBC;
    display: none;
}

.main {
    grid-area: main;
    background-color: white;

}

.main-contenedor {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.header_logo {

    width: 100px;
}


.header_nav_mas_opciones_active {
    position: absolute;
    top: 97%;
    width: 250px;
    background-color: white;
    right: 0;
    gap: 1rem;
    padding: 1rem 0;
    display: block;
    border-top: solid .2rem #008a00;
    height: 80vh;
    overflow-y: scroll;




}

.header_nav_lista_rol {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 3rem;
    margin: 0;
    height: 100vh;




}

.header_nav_lista_rol li a {
    text-decoration: none;
    color: #008a00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #4d4143;
    font-weight: 700;
}

.header_nav_lista_rol li a i {
    font-size: 1.5rem;
    color: #008a00;
}

.header_nav_mas_opciones .header_nav_mas_opciones_active {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;



}

body {
    background-color: whitesmoke;
}

.header_nav_lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}

.header_nav_lista li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;


}



.active {
    display: none;
}

.header_nav_lista li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;



}

.header_nav_lista li a i {

    font-size: 1.3rem;
    color: #008a00;

}

.header_nav_lista li a p {
    color: #4d4143;
    font-weight: 600;
}

.btn_menu_header {

    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.separador-lista-rol {

    margin: 1.5rem 0 .75rem 0;
}

.main-presentacion {
    background-color: white;
    display: flex;
    padding: 4rem 4rem 8rem 4rem;

}

.main-presentacion-descipcion {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.main-presentacion-descipcion-titulo {
    color: #4d4143;
    font-weight: 700;
    font-size: 4rem;


}

.main-presentacion-descipcion-subtitulo {
    color: #4d4143;
    font-weight: 300;
    font-size: 2rem;
}

.hamburguesa {

    width: 400px;
    max-width: 100%;
    border-radius: 100%;
    transition: width .5s, transform .7s;

}

.hamburguesa:hover {

    width: 400px;
    transform: translate(30px, 15px);
}

.main-presentacion-descipcion-btn-ver-menu {
    display: flex;
    padding: .8rem;
    border-radius: 1.5rem;
    gap: .5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #008a00;
    border: solid .2rem white;
    transition: border .7s, background-color .7s, color .7s;
    cursor: pointer;
    justify-content: center;
}

.main-presentacion-descipcion-btn-ver-menu:hover {
    border: solid .2rem #008a00;
    background-color: white;
    color: #008a00;
}

.main-nuestros-platos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.main-nuestros-platos-titulo {
    font-size: 2.5rem;
    color: #4d4143;
    font-weight: 700;
}

.main-nuestros-platos-contenido {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;


}

.plato-detalle {

    border: solid .1rem #008a00;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    transition: transform .5s;


}

.plato-detalle:hover {
    transform: scale(1.1);
}

.plato-detalle-titulo {
    font-weight: 700;
    color: #292525;
}

.plato-detalle-precio {
    color: #008a00;
    font-weight: 600;
}

.plato-descripcion {
    color: #4d4143;
    font-weight: 300;
}

.plato-detalle-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plato-detalle-botones-add-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}



.add-car-btn {
    display: flex;
    gap: .5rem;
    border-radius: .7rem;
    padding: .7rem;
    color: white;
    background-color: #008a00;
    border: solid .2rem white;
    transition: border .7s, background-color .7s, color .7s;
    cursor: pointer;
    border: solid .2rem white;
    transition: border .5s, background-color .5s, color .5s;


}

.add-car-btn:hover {
    border: solid .2rem #008a00;
    background-color: white;
    color: #008a00;
}

.plato-detalle-cantidad {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: #008a00;
    padding: .5rem;

}

.cantidad-producto {
    width: 20%;
    border: solid .2rem #008a00;
    transition: border .5s, color .5s;
    border-radius: 20px;
    padding: .2rem;



}

.cantidad-producto:hover {
    border: solid .2rem #4d4143;
    color: #008a00;
}

.plato-detalle-cantidad-titulo {
    font-size: small;
    color: #008a00;
    font-weight: 500;
}

.plato-detalle-botones-show-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: .3rem;
    border-radius: 20px;
    border: solid .2rem #008a00;
    background-color: white;
    color: #008a00;
    cursor: pointer;
    transition: color .5s, background-color .5s;
    margin-top: 1.5rem;
}

.plato-detalle-botones-show-details:hover {

    background-color: #008a00;
    color: white;

}

.plato-detalle img {
    width: 200px;
    max-width: 100%;
}

.plato-detalle-botones-show-details i {
    font-size: 1rem;
}



.footer {
    grid-area: footer;
    background-color: var(--color-footer);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;


}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo-imagen {

    border-radius: 500px;
    width: 100%;
    max-width: 120px;
}

.footer-logo-copy {
    color: var(--color-font-main);
    font-weight: 600;
}

.footer_nav {

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer_nav ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.footer_nav-enlaces {}

.footer_nav a {
    color: var(--color-font-main);
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}

.footer_nav p {
    font-weight: 500;

}

.footer_nav a i,
.footer_contacto a i,
.footer_contacto ul p i,
.footer-redes ul a i {
    color: #008a00;
    font-size: 1.2rem;

}

.footer_contacto,
.footer-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

}

.footer_contacto-titulo {}

.footer_contacto ul,
.footer-redes ul {

    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer_contacto ul a,
.footer_contacto ul p,
.footer-redes ul a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    color: var(--color-font-main);
}

.footer_copy {

    display: flex;
    justify-content: flex-end;

}

.footer_copy p {
    color: var(--color-font-main);
    font-weight: 700;
    font-size: 1.2rem;
}

.footer_copy p i {

    color: #008a00;
}

/*SECCION DETTALLES PLATO*/

.main-presentacion-ver-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.main-detalle-plato {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.plato-detalle-atributos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.plato-detalle-atributos li {
    color: #4d4143;
}

.plato-detalle-atributos li strong {
    color: #008a00;
}

.main-detalle-plato-nombre {
    color: #4d4143;
    font-weight: 700;
    font-size: 4rem;

}

.main-detalle-plato-descripcion {
    color: #4d4143;
    font-weight: 300;
    font-size: 2rem;
}

.plato-detalle-botones-add-car-ver-detalles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hamburguesa-ver-detalles {}

.hamburguesa-ver-detalles:hover {

    width: 400px;


}

/*Carrito de compras*/

.carrito-contenedor {
    background-color: #f1f3f5;
    position: fixed;
    top: 23%;
    overflow: auto;
    height: 100%;
    height: 78vh;
    width: 35%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-right: .5rem solid #e0e0e0;
    display: none;




}

.carrito-general-contenido {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;




}

.carrito-general-contenido hr {

    margin-top: 2rem;
    height: 3px;
    background-color: #008a00;
    border: none;

}

.carrito-contenedor-presentacion {

    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;


}

.carrito-contenedor-presentacion-btn-salir {

    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #4d4143;
    font-weight: 600;
    font-size: .9rem;
}

.carrito-contenedor-presentacion-btn-salir i {
    font-size: 1.3rem;
    color: #008a00;

    transition: color .5s, transform .3s;
}

.carrito-contenedor-presentacion-btn-salir i:hover {
    transform: scale(.9);
    color: #b14444;
}

.carrito-contenedor-articulo {

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    justify-content: center;
    color: #4d4143;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-top: 1.2rem;
    border: 1px solid #008a00;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carrito-contenedor-articulo-presentacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.carrito-contenedor-articulo-descripcion {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;

}

.carrito-contenedor-articulo-descripcion strong {
    color: #008a00;
}

.carrito-contenedor-articulo-precio-detalles {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0;

}

.carrito-contenedor-articulo-precio,
.carrito-contenedor-articulo-cantidad,
.carrito-contenedor-articulo-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-items: center;

}

.carrito-contenedor-articulo-precio p {
    color: #008a00;
    font-weight: 800;
}

.carrito-contenedor-articulo-cantidad input {
    border: solid.1rem #008a00;
    border-radius: 20px;
    padding: .15rem;
    width: 40%;
}

.carrito-contenedor-btn-delete {
    padding: .5rem;
    border: solid .1rem white;
    background-color: transparent;
}

.carrito-contenedor-btn-delete i {
    font-size: 1.5rem;
    color: rgb(235, 109, 109);
    transition: color .5s, font-size .3s;
    cursor: pointer;

}

.carrito-contenedor-btn-delete i:hover {
    color: red;
    font-size: 1.8rem;
}

.carrito-contenedor-pedidos {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.carrito-contenedor-pedidos-btn-vaciar,
.carrito-contenedor-pedidos-btn-realizar-pedido {
    padding: 1rem;
    border-radius: 20px;
    border: solid .2rem white;
    background-color: #008a00;
    color: white;
    transition: color .5s, border .5s, background-color .5s, transform .5s;
    cursor: pointer;

}

.carrito-contenedor-pedidos-btn-vaciar:hover,
.carrito-contenedor-pedidos-btn-realizar-pedido:hover {
    border: solid .2rem #008a00;
    background-color: white;
    color: #4d4143;
    transform: scale(.9);


}

/*CARRITO VACIO*/
.carrito-contenedor-vacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.carrito-contenedor-vacio-imagen {
    width: 200px;
    max-width: 100%;
}

.carrito-contenedor-vacio-titulo strong {
    font-size: 1.5rem;
    color: #008a00;
}

.carrito-contenedor-vacio-titulo {
    color: #4d4143;
}

.carrito-contenedor-precio-total {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;
    display: none;
}

.total-pagar-titulo {
    color: #4d4143;
}

.total-pagar-cantidad {

    color: #008a00;
}

/*LOGUIN*/

.main-login {

    background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 6rem 3rem;
}

.main-login-titulo {
    margin-bottom: 1rem;
    font-size: 2.6rem;
    color: white;

}

#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 30%;
}

.main-login input {
    width: 100%;
    padding: 1.4rem;
    border-radius: 25px;
    margin-top: 1rem;
    border: none;
}

.mensaje-registro {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 700;

}

.mensaje-registro a {
    color: white;
    font-weight: 600;
    display: flex;
    gap: 1rem;
}

.main-login-btn-entrar {
    padding: 1rem;
    border-radius: 20px;
    border: none;
    width: 50%;
    background-color: #008a00;
    color: white;
    font-size: 1rem;
}

/*REGISTRO*/

.main-registro {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 3rem;
    gap: 2rem;
}

.main-registro-imagen {
    width: 600px;
    max-width: 100%;
}



.main-registro-contenido {

    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 3rem;

}

.main-registro form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}

.main-registro form input {
    padding: 1rem;
    border-radius: 20px;
    border: solid 1px rgb(82, 74, 74);
    width: 100%;
}

.main-registro-contenido-inciciar-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-registro-contenido-inciciar-sesion a {
    display: flex;

    gap: .5rem;
    color: #008a00;
    font-weight: 800;
    font-size: 1rem;
}

.main-registro-btn-resgistrarse {
    border-radius: 20px;
    padding: 1rem;
    background-color: #008a00;
    border: solid 1px #008a00;
    color: white;
    font-size: 1rem;
    width: 50%;
    transition:  background-color .5s , color .5s;
    cursor: pointer;

}.main-registro-btn-resgistrarse:hover{
    background-color: white;
    color: #008a00;
}

.btn-registrar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-registro-contenido-inciciar-sesion a i {

    
}